<% @page_title = "Delete" %>
<h1>Subjects#delete</h1>
<p>Find me in app/views/subjects/delete.html.erb</p>
<%= link_to("Back to List", {:action =>'index'}, :class =>'back-link') %>
<div>
  <h2>

    Delete Subject
  </h2>
  <%= form_for(:subject, :url => {:action => 'destroy', :id => @subject.id}) do |f| %>
      <p> want to delete permanently?</p>

      <div>
            <%= @subject = Subject.name %>
      </div>


      <div class="form-buttons">
        <%= submit_tag("Delete Subject") %>
      </div>
  <% end %>

</div>