<% @page_title = "edit" %>
<h1>Subjects#edit</h1>
<p>Find me in app/views/subjects/edit.html.erb</p>
<%= link_to("Back to List", {:action =>'index'}, :class =>'back-link') %>
<div>
  <h2>
    Update Subject
  </h2>

  <%= form_for(:subject, :url => {:action => 'update', :id => @subject.id}) do |f| %>
      <table summary="Subject from fields">
        <tr>
          <th>Name</th>
          <td> <%= f.text_field(:name) %></td>
        </tr>
        <tr>
          <th>Position</th>
          <td> <%= f.text_field(:position) %></td>
        </tr>
        <tr>
          <th>visible</th>
          <td> <%= f.text_field(:visible) %></td>
        </tr>
      </table>
      <div class="form-buttons">
        <%= submit_tag("Update subject") %>
      </div>
  <% end %>


</div>
