<% @page_title = "Subjects" %>
<h1>Subjects#index</h1>
<p>Find me in app/views/subjects/index.html.erb</p>
<div class="subject index">
<h2> subjects </h2>
  <%= link_to("Add new Subject",{action: 'new'}, :class => 'action new') %>

  <table>
    <tr>
      <th> </th>
      <th> Subject</th>
      <th>Visible</th>
      <th>Actions</th>

    </tr>

        <% @subjects.each do |subject| %>
        <tr>
            <td> <%= subject.position %></td>
            <td> <%= subject.name %></td>
          <td> <%= subject.visible ? 'yes' : 'no' %></td>

            <td class="actions">
                 <%= link_to("show",{:action => 'show', :id => subject.id},:class => 'action show') %>
                 <%= link_to("edit",{:action => 'edit', :id => subject.id}, :class => 'action edit') %>
                 <%= link_to("delete",{:action => 'delete', :id => subject.id}, :class => 'action delete') %>
            </td>
        </tr>
        <% end %>
  </table>
</div>