<% @page_title = "show" %>
<h1>Subjects#show</h1>
<p>Find me in app/views/subjects/show.html.erb</p>
<h2> show subject</h2>

<%= link_to("GO BACK.",{action: 'index'}, :class => 'back-link') %>

<table>
  <tr>
    <th> Name </th>
    <td> <%= @subject.name %></td>
  </tr>
  <tr>
    <th> Position </th>
    <td> <%= @subject.position %></td>
  </tr>

  <tr>
    <th> Visible </th>
    <td> <%= @subject.visible ? 'true' : 'false' %></td>
  </tr>

  <tr>
    <th> Created </th>
    <td> <%= @subject.created_at %></td>
  </tr>
  <tr>
    <th> Updated On </th>
    <td> <%= @subject.updated_at %></td>
  </tr>
</table>