<h1>Demo#hello</h1>
<h3>Hello file</h3>

<p>Find me in app/views/demo/hello.html.erb</p> </br>

<% target = "hello" %>
<%= "#{target} world"%>
<%= 3.times do
   "hello"
    end %>
</br>
<a href="/demo/index"> index page from link_to </a> </br>
<%= link_to('index page 2', {:action => 'index'}) %> </br>

<%= link_to('index page with params', {:action => 'index',:page => 5, :name => "hammad"}) %>

<%= params.inspect %>
