<h1>Demo#index</h1>
<h3>Hello world</h3>

<p>Find me in app/views/demo/index.html.erb</p>

<a href="/demo/hello"> HELLO page from link_to </a> </br>
<%= link_to('hello page 2', {:action => 'hello'}) %>
