<!DOCTYPE html>
<html>
<head>
  <title>Simple Cms | <%= @page_title || "Admin" %></title>

</head>
<body>
<div class="header">
  Simple CMS Admin
</div>
    <div class="main">
      <% if !flash[:notice].blank? %>
          <div>
            <% flash[:notice] %>
          </div>
      <% end %>
        <div class="content">
        <!-- before yield-->
        <%= yield %>
         <!--after yield-->
        </div>
    </div>
<div class="footer">
  made by: hammad
</div>
</body>
</html>
